In [1]:
nums = [0,1,0,3,12]

In [5]:
def moveZeroes(nums):
    zero_index = 0  
    for i in range(len(nums)):
        if nums[i] != 0: 
            nums[i], nums[zero_index] = nums[zero_index], nums[i]
            zero_index += 1  
nums1 = [0, 1, 0, 3, 12]
moveZeroes(nums1)
print(nums1)

[1, 3, 12, 0, 0]

In [8]:
def firstUniqChar(s):
    char_freq = {}  

    
    for char in s:
        if char in char_freq:
            char_freq[char] += 1
        else:
            char_freq[char] = 1

   
    for i in range(len(s)):
        if char_freq[s[i]] == 1:
            return i

    return -1  

s1 = "leetcode"
print(firstUniqChar(s1)) 

s2 = "loveleetcode"
print(firstUniqChar(s2))  

s3 = "aabb"
print(firstUniqChar(s3))

0
2
-1